.jobs -page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #121212;
}
.jobs-page {
    flex-grow: 1;
    padding-top: 25px;
    width: 90%;
    align-self: center;
    padding-bottom: 40px;
}
.side-bar {
    display: flex;
    flex-direction: column;
}
.jobs-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.jobs-list {
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.search-bar {
    width: 100%;
    border: 1px solid #cbd5e1;
    border-radius: 5px;
    height: 35px;
    display: flex;
}
#largeSearchBar {
    display: none;
}
.search-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    padding: 4px 4px 4px 15px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #f1f5f9;
    cursor: pointer;
    outline: none;
}
.search-button {
    width: 15%;
    background-color: #272727;
    border: none;
    cursor: pointer;
    outline: none;
}
.search-icon {
    color: #f1f5f9;
    width: 18px;
    height: 18px;
}
.separater {
    border-color: #7e858e;
    width: 100%;
    border-width: 1px;
    margin: 0px;
}
.jobs-loader-container {
    flex-grow: 1;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jobs-api-failure-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
}
.no-jobs-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
}
.job-api-failure-image{
    width: 100%;
    max-width: 350px;
}
.no-jobs-image {
    width: 100%;
    max-width: 350px;
}
.failure-view-heading {
    margin: 0px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
}
.no-jobs-heading {
    margin: 0px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 500;
}
.failure-view-description{
    margin: 0px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
}
.no-jobs-description {
    margin: 0px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
}
@media (min-width: 768px) {
    .jobs-page {
        display: flex;
        margin: 30px;
    }
    .side-bar {
        width: 30%;
        max-width: 350px;
        flex-shrink: 0;
    }
    .search-bar{
        max-width: 430px;
        height: 40px;
    }
    #smallSearchBar {
        display: none;
    }
    #largeSearchBar {
        display: inline-flex;
    }
    .search-input {
        font-size: 16px;
    }
    .job-api-failure-image {
        max-width: 430px;
    }
    .failure-view-heading {
        font-size: 24px;
    }
    .failure-view-description {
        font-size: 15px;
    }
}
@media (min-width: 1200px) {
    .job-api-failure-image {
        max-width: 430px;
    }
    .failure-view-heading {
        font-size: 35px;
    }
}